body {
  margin: 0;
  font-family: sans-serif;
}

#form-box {
  width: 900px;
  height: 600;
  margin: 0 auto;
  margin-top: 200px;
  padding: 100px;
  background-color: rgb(214, 232, 255);
}

#form-box .container {
  margin: 0 auto;
  width: 800px;
  padding: 50px 50px 30px 50px;
  background-color: rgb(255, 255, 255);
}

#form-box .container h2 {
  color: rgb(67, 86, 255);
  font-size: 36px;
  font-weight: 100;
  margin-top: -20px;
  text-transform: capitalize;
}

#form-box .container form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

#form-box .container form div {
  width: 50%;
}

#form-box .container form div:nth-of-type(2) {
  width: 50%;
  text-align: right;
}

#form-box .container form div:nth-of-type(3) {
  width: 100%;
}

#form-box .container form div input,
#form-box .container form div textarea {
  width: 100%;
  margin: 10px 0;
  padding: 20px 0 20px 30px;
  border-radius: 10px;
  border-style: none;
  background-color: rgb(226, 234, 255);
  font-size: 18px;
  color: rgb(0, 22, 223);
  font-weight: 500;
  box-sizing: border-box;
}

#form-box .container form div:nth-of-type(3) input {
  background-color: rgb(204, 213, 255);
}

#form-box .container form div textarea {
  background-color: rgb(170, 183, 241);
  font-family: sans-serif;
  height: 150px;
  resize: none;
}

#form-box .container form div .gap {
  width: 97%;
}

#form-box .container form button {
  border-radius: 25px;
  border-style: none;
  padding: 15px 50px;
  margin-top: 20px;
  color: white;
  background-color: rgb(56, 76, 255);
  font-size: 18px;
}

#form-box .container span {
  display: block;
  margin-top: 10px;
  padding-left: 5px;
  color: rgb(29, 228, 152);
}